
<!-- Multi-level navigation links -->
<style>

.navbar-custom .nav .navlinks-container {
    position: relative;
}

.navbar-custom .nav .navlinks-parent:after {
    content: " \25BC";
}

.navbar-custom .nav .navlinks-children {
    width: 100%;
    display: none;
    word-break: break-word;
}

.navbar-custom .nav .navlinks-container .navlinks-children a {
    display: block;
    padding: 10px;
    padding-left: 30px;
    background: #939191;
    text-decoration: none !important;
    border-width: 0 1px 1px 1px;
    font-weight: normal;
    word-break: break-word;
}

@media only screen and (max-width: 767px) {
    .navbar-custom .nav .navlinks-container.show-children {
        background: #777676;
    }
    .navbar-custom .nav .navlinks-container.show-children .navlinks-children {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-custom .nav .navlinks-container {
        text-align: center;
    }
    .navbar-custom .nav .navlinks-container:hover {
        background: #939191;
    }
    .navbar-custom .nav .navlinks-container:hover .navlinks-children {
        display: block;
    }
    .navbar-custom .nav .navlinks-children {
        position: absolute;
    }
    .navbar-custom .nav .navlinks-container .navlinks-children a {
        padding-left: 10px;
        border: 1px solid #939191;
        border-width: 0 1px 1px;
    }
    .navbar-custom .nav .navlinks-container .navlinks-children a:hover {
        background: #777676;
    }
}
</style>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="huxblog_navbar">
            <div class="navbar-collapse" id="main-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ site.baseurl }}/">Home</a>
                    </li>
                    {% for page in site.pages %}{% if page.title %}
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                    {% endif %}{% endfor %}
                    <li class="navlinks-container">
                        <a class="navlinks-parent" href="javascript:void(0)">gitbooks</a>
                        <div class="navlinks-children">
                          
                            <a href="https://chai2010.gitbooks.io/advanced-go-programming-book/content/">Advanced Go Programming</a>
                            <a href="https://books.studygolang.com/gopl-zh/index.html">The Go Programming Language</a>
                            <a href="https://www.topgoer.com/">Top Goer</a>
                          
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<script>
    // Drop Bootstarp low-performance Navbar
    // Use customize navbar with high-quality material design animation
    // in high-perf jank-free CSS3 implementation
    var $body   = document.body;
    var $toggle = document.querySelector('.navbar-toggle');
    var $navbar = document.querySelector('#huxblog_navbar');
    var $collapse = document.querySelector('.navbar-collapse');

    var __HuxNav__ = {
        close: function(){
            $navbar.className = " ";
            // wait until animation end.
            setTimeout(function(){
                // prevent frequently toggle
                if($navbar.className.indexOf('in') < 0) {
                    $collapse.style.height = "0px"
                }
            },400)
        },
        open: function(){
            $collapse.style.height = "auto"
            $navbar.className += " in";
        }
    }

    var mobileClick = {
        init : function() {
            // On mobile, when clicking on a multi-level navbar menu, show the child links
            $('#main-navbar').on("click", ".navlinks-parent", function(e) {
                var target = e.target;
                $.each($(".navlinks-parent"), function(key, value) {
                    if (value == target) {
                        $(value).parent().toggleClass("show-children");
                    } else {
                        $(value).parent().removeClass("show-children");
                    }
                });
            });
        }
    }

    // Bind Event
    $toggle.addEventListener('click', function(e){
        if ($navbar.className.indexOf('in') > 0) {
            __HuxNav__.close()
        }else{
            __HuxNav__.open()
        }
    })

    /**
     * Since Fastclick is used to delegate 'touchstart' globally
     * to hack 300ms delay in iOS by performing a fake 'click',
     * Using 'e.stopPropagation' to stop 'touchstart' event from 
     * $toggle/$collapse will break global delegation.
     * 
     * Instead, we use a 'e.target' filter to prevent handler
     * added to document close HuxNav.  
     *
     * Also, we use 'click' instead of 'touchstart' as compromise
     */
    document.addEventListener('click', function(e){
        if(e.target == $toggle) return;
        if(e.target.className == 'icon-bar') return;
        if (e.target.className == 'navlinks-container' ) return;
        __HuxNav__.close();
    });
    document.addEventListener('DOMContentLoaded', mobileClick.init);
</script>
